@import "~bootstrap/scss/bootstrap";

.hover-underline {
	color: $gray-900;
	text-decoration: none;
	cursor: pointer;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;

		width: 0%;
		height: 2px;

		background-color: $primary;
		transition: width 0.6s ease;
	}


	&:hover {
		color: var(--off-black);
	
		&::after {
			width: 100%;
		}
	}
}

.dotted {
	background: radial-gradient(#D2D6DB 1px, transparent 0px) -2.5px -2.5px / 10px 10px var(--off-white);
}
